.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    border: 1px solid rgb(176, 123, 224);;
}
#output{
    text-align: right;
    height: 10px;
    line-height: 90px;
    padding: 16px 16px;
    font-size: 45px;
}
#display{
    text-align: right;
    height: 100px;
    line-height: 200px;
    padding: 16px 16px;
    margin-bottom: 20px;
    font-size: 35px;
}

.buttons{
    display: grid;
    border-bottom: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.button{
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.pruple{
    background-color: rgb(176, 123, 224);
    color: white;
}
#equal{
    background-color: #2d2d46;
    color:white
}
.black{
    background-color: #2d2d46;
    color: white;
}
#equal:hover{
    background-color: tomato;
}
.button:hover{
    background-color: #323330;
    color:white;
    transition: 0.5s ease-in-out;
}